.dar-libro{
    width: 100%;
    padding: 80px 150px;
    h2{
        margin-bottom: 40px;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 1px;
        color: rgb(46,219,166);
    }
    .contenedor{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        .formulario{
            form{
                width: 1000px;
                margin-bottom: 40px;
                h4{
                    margin-bottom: 20px;
                    font-size: 24px;
                    font-weight: 500;
                }
                p{
                    padding: 2px 0px;
                    margin-bottom: 20px;
                    font-size: 20px;
                    color: rgb(181,96,250);
                    border-bottom: 2px solid rgb(46,219,166);
                    &:focus{
                        border-bottom: 2px solid rgb(181,96,250);
                    }
                    input{
                        font-size: 20px;
                        border: none;
                        &:focus{
                            outline: none;
                            
                        }
                    }
                }
                input[type='submit']{
                    width: 100%;
                    padding: 3px;
                    font-size: 20px;
                    color: rgb(181,96,250);
                    border: 2px solid rgb(181,96,250);
                    border-radius: 8px;
                    background: transparent;
                    transition: .1s ease-in-out;
                    &:hover{
                        color: #fff;
                        background: rgb(181,96,250);
                    }
                }
            }
        }
        .colaboradores{
            h3{
                margin-bottom: 20px;
                font-size: 24px;
                font-weight: 500;
            }
            .contenedor{
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                img{
                    width: 12vw;
                }
            }
        }
    }
}