footer{
    background: rgb(113,192,252);
    background: linear-gradient(180deg, rgba(113,192,252,1) 0%, rgba(181,96,240,1) 100%);
    padding: 60px;
    color: #fff;
    .contenedor{
        display: flex;
        justify-content: space-between;
        .links{
            p{
                display: inline-block;
                margin: 0 20px;
                a{
                    text-decoration: none;
                    color: #fff;
                }
            }
        }
    }
}