.header-libros{
    width: 100%;
    height: 380px;
    padding: 50px 150px;
    h2{
        margin-bottom: 40px;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 1px;
        color: violet;
    }
    .search{
        .btn-search{
            width: 60%;
            position: relative;
            background: none;
            border: 1px solid rgb(80, 80, 80);
            border-radius: 110px;
            padding: 8px;
            font-size: 20px;
            color: rgb(65, 64, 64);
            font-family: 'Open Sans';
            &:focus{
                outline: none;
            }  
        }
        .icon{
            position: absolute;
            margin-left: 20px;
            margin-top: 15px;
            color: rgb(0, 0, 0);
        }
    }
    .sugerencias{
        width: 100%;
        height: 100px;
        padding: 20px;
        .buttons.sugerencias{
            width: 100%;
            padding: 0px;
            display: flex;
            justify-content: left;
            align-items: center;
            flex-wrap: wrap;
            a{
                color: rgb(28, 241, 195);
                font-weight: 600;
                padding: 6px 15px;
                margin-right: 15px;
                border: 2px solid rgb(28, 241, 195);
                border-radius: 20px;
                text-decoration: none;
                transition: .2s;
                &:hover{
                    background: rgb(28, 241, 195);
                    color: #fff;
                }
            }
        }
    }
}

@media screen and (max-width: 800px){
    .header-libros{
        padding: 50px 50px;
    }
}