.perfil{
    width: 100%;
    padding: 80px 150px;
    h2{
        margin-bottom: 40px;
        font-size: 40px;
        font-weight: 600;
        letter-spacing: 1px;
        color: rgb(46,219,166);
    }
    .contenedor{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        .img-user{
            img{
                width: 20vw;
            }
        }
        .inf-user{
            text-align: center;
            h4{
                font-size: 30px;
                font-weight: 400;
                margin-bottom: 10px;
            }
            p{
                font-size: 18px;
                margin-bottom: 6px;
            }
            button{
                margin-top: 10px;
                font-size: 18px;
                background: transparent;
                padding: 6px;
                color: rgb(46,219,166);
                border-radius: 5px;
                border: 2px solid rgb(46,219,166);
                transition: .1s ease-in-out;
                &:hover{
                    background: rgb(46,219,166);
                    color: #fff;
                    cursor: pointer;
                }
                &:focus{
                    outline: none;
                }
            }
        }
    }
}

@media screen and (max-width: 800px){
    .perfil{
        padding: 80px 50px;
        h2{
            text-align: center;
        }
        .contenedor{
            .img-user{
                img{
                    width: 35vw;
                }
            }
        }
    }
}